.team-container {
    // background-color: aqua;
    text-align: center;
}

.team-container-title{
    padding: 25px 0 0 0;
    font-weight: bold;
}

.team-container-sub-title{
    width: 85%;
    margin: auto;
    text-align: start;
    font-weight: 700;
    padding: 25px 0 0 0;
}

.team-card-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    border-radius: 10px;
    // background-color: antiquewhite;
}

.team-card {
    position: relative;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    margin: 30px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid rgb(255, 255, 255);
}

.team-card-bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 290px;
    border-radius: 0 0 10px 10px;
    margin: 0;
    background-color: rgb(62, 62, 62);
    opacity: 0.7;
    color: #ffffff;
    font-size: 1.5rem;
}

.team-card-bottom-on-hover {
    width: 291px;
    min-height: 15vh;
    position: absolute;
    bottom: 0;
    background: #f1eeee;
    // opacity: 0.7;
    transition: transform 0.5s;
    transform: scaleY(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    color: #000000;
}

.team-card:hover .team-card-bottom {
    display: none;
}

.team-card:hover .team-card-bottom-on-hover {
    transform: scaleY(1);
}

@media (max-width: 1200px) {
    .team-card-container{ 
        width: 90%;       
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .team-card {
        height: 350px;
        min-width: 300px;
    }
}